<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sarmento.mitchell.gradesaver2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.sarmento.mitchell.gradesaver2"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>
        <activity android:name=".activities.TermsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SectionsActivity" />
        <activity android:name=".activities.AssignmentsActivity" />
        <activity android:name=".activities.DueDatesActivity" />
        <activity android:name=".activities.ScheduleActivity" />
        <activity
            android:name=".activities.ScheduleEditActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/action_settings" />
        <activity android:name=".activities.AssignmentImagesActivity" />
        <receiver
            android:name=".widgets.DueDatesWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_due_dates">
            </meta-data>
        </receiver>
        <receiver android:name=".widgets.DueDatesWidgetReceiver" />
        <service
            android:name=".widgets.DueDatesWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS">
        </service>
    </application>

</manifest>